.card {
    width: 600px;
    min-width: 600px;
    margin: 5px;
}

img {
    max-height: 100%;
    margin: auto;
}

.col-md-4 {
    padding: 10px;
    height: 200px;
    display: flex;
    align-items: center;
}