<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-4">
            <img [src]="product.image" class="img-fluid rounded-start responsive-image" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h6 class="card-title">{{product.title}}</h6>
                <h5 class="card-text">$ {{getFormattedPrice().integerPart}}<sup>{{getFormattedPrice().decimalPart}}</sup></h5>
                <button (click)="viewProductDetails(product.id)" href="#" class="btn btn-primary">See details</button>
            </div>
        </div>
    </div>
</div>